.jumbotron {
	background-image: url("https://assets.foxdcg.com/dpp-uploaded/images/the-simpsons/seriesDetail2.jpg?fit=inside%7C1920:1080");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	margin-bottom: 0px;
    text-align: center;
}

.jumbotron h1 {
	font-family: 'Chicle', sans-serif;
	font-size: 65px;
	text-transform: uppercase;
	font-weight: 900;
	color: rgb(21, 92, 173);
}

.jumbotron p {
	font-family: 'Chicle', sans-serif;
	font-size: 30px;
	font-weight: 500;
    text-transform: uppercase;
    color: rgb(21, 92, 173);
}